<h3> Produits</h3>
<div >
  <div class="row">
    <div class="col-lg-7">
      <table class="table table-hover">
        <thead>
          <tr>
            <th> Référence</th>
            <th>quantité</th>
            <th>Prix unitaire</th>
          </tr>
        </thead>
        <tbody>
              <tr *ngFor="let produit of produits">
                  <td>{{produit.ref}}</td>
                  <td>{{produit.quantite}}</td>
                  <td>{{produit.prixUnitaire}}</td>
              </tr>
        </tbody>
      </table>
    </div>

    <div class="col-lg-5">
      <div class="card">
        <div class="card-header bg-info text-white">
          Ajouter produit
        </div>

        <div class="card-body">
        <form [formGroup]="produitForm">
            <div class="from-group">
                <label> Référence: </label>
                <input type="text" fromControlName="ref" class="form-control"/>
            </div>
              <div class="alert alert-danger" *ngIf="produitForm.controls['ref'].invalid && (produitForm.controls['ref'].touched || produitForm.controls['ref'].dirty)" >
                  Référence est obligatoire!
              </div>
            <div class="from-group">
                <label> Quantité: </label>
                <input type="number" fromControlName="quantite" class="form-control"/>
            </div>

            <div class="from-group">
                <label> Prix unitaire: </label>
                <input type="number" fromControlName="prixUnitaire" class="form-control"/>
            </div>
            <p></p>
            <button type="button" name="button" class="btn btn-success"
            (click)="addProduit()"
            > Ajouter</button>
          </form>
        </div>

        <div class="card-footer">

        </div>
      </div>
    </div>
  </div>
</div>

<!--
<ul>
<li *ngFor="let produit of produits">
Ref : {{produit.ref}}, quantité: {{produit.quantite}}, prix unitaire : {{produit.prixUnitaire}}
</li>
</ul>
-->
